<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>회원가입</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      #box1 { padding: 0 0 10px 0; }

      body {
        position: relative;
        z-index: 1;
      }
      body::after {
        background-image: url('https://images5.alphacoders.com/372/thumb-1920-372649.jpg');
        top: 0;
        left: 0;
        position:absolute;
        opacity: 0.5!important;
        filter:alpha(opacity=50);
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .a {
        box-shadow: 2px 2px 2px gray;
      }

    </style>
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form action="/signup" method="POST" class="signupform" style="margin:auto">
        <h1 class="h3 mb-3 font-weight-normal" style="padding: 0px; font-family: cursive; color: black; text-shadow: 1px 1px 1px rgb(153, 153, 153);">KicktheBucket</h1>
        <div class="form-label-group" id="box1">
        <label for="email" class="sr-only">이메일</label>
        <input name="email" type="email" class="form-control a" placeholder="이메일" required />
        </div>
        <div class="form-label-group" id="box1">
        <label for="password" class="sr-only">비밀번호</label>
        <input name="password" type="password" class="form-control a" placeholder="비밀번호"required />
        </div>
        <div class="form-label-group" id="box1">
        <label for="name" class="sr-only">이름</label>
        <input name="name" type="text" class="form-control a" placeholder="이름" required />
        </div>
        <div class="form-label-group" id="box1">
        <label for="adminCode" class="sr-only">ADMIN CODE</label>
        <input name="adminCode" type="text" class="form-control a" placeholder="ADMINCODE"/>
        </div>
        <div id="box1">
        <button class="btn btn-lg btn-primary btn-block a" type="submit">SIGNUP!</button>
        </div>
    </form>
</body>
</html>